// Variables
$background-color: #eae2e4;
$text-color: #0000ff;
$black-color: #000000;
$font-family: "SportingGrotesque-Bold";

@font-face {
  font-family: "SportingGrotesque-Bold";
  src: url("fonts/SportingGrotesque-Bold.otf");
  src: url("fonts/SportingGrotesque-Bold.otf?#iefix") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@keyframes video {
  0% {
    width: 0px;
    border-top-left-radius: none;
    border-top-right-radius: none;
  }
  100% {
    width: 350px;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;
  }
}

@keyframes title {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: none;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}

body {
  position: relative;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

.body-lobby {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

#viewport {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.logo {
  position: absolute;
  top: -16px;
  left: 3px;
  width: 200px;
}

.title {
  z-index: 1;
  font-size: 100px;
  line-height: 90%;
  animation: title 6s;
}

.blue_star {
  width: 79px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  &__lien {
    font-size: 16px;
    padding-right: 20px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
}

.article-introduction {
  position: absolute;
  display: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 5;
  border: solid;
  color: $text-color;
  left: 50%;
  top: 20%;
  margin-left: -292px;
  width: 584px;
  background-color: $background-color;
}

.short-introduction {
  font-size: 12px;
  padding: 50px;
}

.close-btn {
  width: 27px;
  margin: 10px;
  &:hover {
    cursor: pointer;
  }
}

.mer {
  color: $background-color;
}

.textvagues {
  width: 262px;
  position: absolute;
  top: 20%;
  right: 49px;
}

.starwave {
  height: 800px;
}

.frame {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  height: 646px;
  width: 350px;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
  animation: video 2s;
}

.video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
  animation: video 4s;
}

#starwaveleft {
  position: absolute;
  height: 462px;
  bottom: 80px;
  left: 33px;
}

#starwaveright {
  position: absolute;
  height: 462px;
  bottom: 80px;
  right: 33px;
}

.footer-lobby {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.textfooter {
  position: relative;
  left: 42px;
  font-size: 16px;
}

.lobby {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 812.188px;
  height: 100%;
}

.coquillage {
  position: relative;
  right: 5px;
  width: 43px;
}

.underlined-text {
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}
.sur {
  padding-left: 142px;
}

/////////////////////////////// PAGE DIRECTION ARTISTIQUE

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 250px;
  margin: 1%;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.7s ease-in-out;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__pastille {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
  }
}

.projects__liens {
  width: 48%;
}

///////////////////// Page accompagnement

.accompagnement {
  width: 100%;
  &__titre {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    &--img {
      width: 57px;
    }
    &--h1 {
      font-size: 16px;
      margin-left: 20px;
    }
  }
}

.steps {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.step {
  width: 30%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__gif {
    width: 50%;
  }
  &__titre {
    font-size: 12px;
  }
}

.coquillage__footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &--img {
    width: 100px;
  }
}

// Pages Projets

.project_picture {
  width: 100%;
  object-fit: cover;
  &__with_frame {
    width: 95%;
    margin: 20px 0px;
  }
  &__left {
    width: 100%;
  }
  &__right {
    width: 100%;
  }
  &__front {
    width: 100%;
    object-fit: cover;
    z-index: 3;
  }
  &__landscape {
    width: 100%;
    position: relative;
    top: 60px;
  }
}

.frame-left {
  width: 45%;
  height: 100%;
  &__dark {
    position: relative;
    left: -50px;
    width: 885px;
    height: 100%;
  }
}

.frame-right {
  width: 45%;
  height: 100%;
  &__dark {
    position: relative;
    right: 101px;
    top: 50px;
    width: 40%;
    height: 100%;
  }
}

.project_video {
  width: 100%;
  object-fit: cover;
  &__with_frame {
    width: 95%;
    margin: 20px 0px;
    object-fit: fill;
  }
}

.section_summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 500px;
  &__title {
    color: white;
    font-size: 16px;
  }
  &__date {
    color: white;
    font-size: 12px;
  }
  &__description {
    color: white;
    font-size: 8px;
    margin-top: 50px;
    text-align: center;
    width: 70%;
  }
  &__description {
    color: white;
    font-size: 10px;
    margin-top: 50px;
    text-align: center;
    width: 70%;
  }
  &__work {
    color: white;
    font-size: 12px;
    margin: 0px;
    text-align: center;
    width: 70%;
  }
}

// PAGE A PROPOS

.a_propos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo_julie {
  width: 433px;
}

.paragraphe_a_propos {
  color: $text-color;
  font-size: 12px;
}

//

.projet_picto {
  width: 137px;
}

// Animations page Grand Baim
.animation_grand_bain2 {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 623px;
  background-color: $black-color;
}

.picture_animated1 {
  position: absolute;
  width: 328px;
  padding-left: 34px;
}

.picture_animated2 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -142px;
  text-align: center;
  z-index: 1;
  position: relative;
  width: 243px;
}

.picture_animated3 {
  position: absolute;
  width: 410px;
  bottom: -70px;
  right: -131px;
}

.picture_animated4 {
  position: absolute;
  width: 295px;
  bottom: -22px;
  right: -12px;
}

// frame with margin Fruits and food
.picture_frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__doublepics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  &__dark_doublepics {
    overflow: hidden;
    background-color: $black-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
  }
}

.double_pictures_frame {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.frame_for_landscape {
  position: relative;
}

.animation_landscape {
  position: absolute;
  z-index: 2;
  bottom: -128px;
  left: 0px;
  width: 100%;
}

.animation-frame {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 885px;
}

.project_picture_absolute {
  width: 310.99px;
  height: 465.573px;
  padding-left: 40px;
}

.project_picture_absolute2 {
  position: relative;
  top: -164px;
  width: 100%;
  z-index: 1;
}

.project_picture_absolute3 {
  position: relative;
  top: -164px;
  right: 50px;
  width: 100%;
  z-index: 1;
}

.swim_frame {
  position: absolute;
  height: 465.573px;
}

.photograph {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  &__text {
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: end;
    padding-right: 20px;
  }
}

.photograph-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  &__text {
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: start;
    padding-left: 20px;
  }
}

.frame-terre-hugo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  &__pic {
    width: 600px;
  }
  &__text {
    padding-left: 20px;
    font-size: 10px;
    margin: 0px;
  }
}
