@font-face {
  font-family: "SportingGrotesque-Bold";
  src: url("fonts/SportingGrotesque-Bold.otf");
  src: url("fonts/SportingGrotesque-Bold.otf?#iefix") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes video {
  0% {
    width: 0px;
    border-top-left-radius: none;
    border-top-right-radius: none;
  }
  100% {
    width: 350px;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;
  }
}

@keyframes video {
  0% {
    width: 0px;
    border-top-left-radius: none;
    border-top-right-radius: none;
  }
  100% {
    width: 350px;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;
  }
}

@-webkit-keyframes title {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: none;
    opacity: 0;
  }
  100% {
    display: -webkit-box;
    display: flex;
    opacity: 1;
  }
}

@keyframes title {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: none;
    opacity: 0;
  }
  100% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
}

body {
  position: relative;
  font-family: "SportingGrotesque-Bold";
  margin: 0;
  padding: 0;
  background-color: #eae2e4;
}

.body-lobby {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

#viewport {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo {
  position: absolute;
  top: -16px;
  left: 3px;
  width: 200px;
}

.title {
  z-index: 1;
  font-size: 100px;
  line-height: 90%;
  -webkit-animation: title 6s;
          animation: title 6s;
}

.blue_star {
  width: 79px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.menu__lien {
  font-size: 16px;
  padding-right: 20px;
}

.menu__lien:hover {
  text-decoration: underline;
  cursor: pointer;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 800px;
}

.article-introduction {
  position: absolute;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 5;
  border: solid;
  color: #0000ff;
  left: 50%;
  top: 20%;
  margin-left: -292px;
  width: 584px;
  background-color: #eae2e4;
}

.short-introduction {
  font-size: 12px;
  padding: 50px;
}

.close-btn {
  width: 27px;
  margin: 10px;
}

.close-btn:hover {
  cursor: pointer;
}

.mer {
  color: #eae2e4;
}

.textvagues {
  width: 262px;
  position: absolute;
  top: 20%;
  right: 49px;
}

.starwave {
  height: 800px;
}

.frame {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  height: 646px;
  width: 350px;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
  -webkit-animation: video 2s;
          animation: video 2s;
}

.video {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
  -webkit-animation: video 4s;
          animation: video 4s;
}

#starwaveleft {
  position: absolute;
  height: 462px;
  bottom: 80px;
  left: 33px;
}

#starwaveright {
  position: absolute;
  height: 462px;
  bottom: 80px;
  right: 33px;
}

.footer-lobby {
  position: fixed;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer__simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.textfooter {
  position: relative;
  left: 42px;
  font-size: 16px;
}

.lobby {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 812.188px;
  height: 100%;
}

.coquillage {
  position: relative;
  right: 5px;
  width: 43px;
}

.underlined-text {
  text-decoration: underline;
}

.underlined-text:hover {
  cursor: pointer;
}

.sur {
  padding-left: 142px;
}

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 250px;
  margin: 1%;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.project__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__pastille {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}

.projects__liens {
  width: 48%;
}

.accompagnement {
  width: 100%;
}

.accompagnement__titre {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.accompagnement__titre--img {
  width: 57px;
}

.accompagnement__titre--h1 {
  font-size: 16px;
  margin-left: 20px;
}

.steps {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step {
  width: 30%;
  margin: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step__gif {
  width: 50%;
}

.step__titre {
  font-size: 12px;
}

.coquillage__footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coquillage__footer--img {
  width: 100px;
}

.project_picture {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project_picture__with_frame {
  width: 95%;
  margin: 20px 0px;
}

.project_picture__left {
  width: 100%;
}

.project_picture__right {
  width: 100%;
}

.project_picture__front {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
}

.project_picture__landscape {
  width: 100%;
  position: relative;
  top: 60px;
}

.project_picture__centered {
  width: 94%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 2;
}

.frame-left {
  width: 45%;
  height: 100%;
}

.frame-left__dark {
  position: relative;
  left: -50px;
  width: 885px;
  height: 100%;
}

.frame-right {
  width: 45%;
  height: 100%;
}

.frame-right__dark {
  position: relative;
  right: 101px;
  top: 50px;
  width: 40%;
  height: 100%;
}

.project_video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project_video__with_frame {
  width: 95%;
  margin: 20px 0px;
  -o-object-fit: fill;
     object-fit: fill;
}

.section_summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  width: 100%;
  height: 500px;
}

.section_summary__title {
  color: white;
  font-size: 16px;
}

.section_summary__date {
  color: white;
  font-size: 12px;
}

.section_summary__description {
  color: white;
  font-size: 8px;
  margin-top: 50px;
  text-align: center;
  width: 70%;
}

.section_summary__description {
  color: white;
  font-size: 10px;
  margin-top: 50px;
  text-align: center;
  width: 70%;
}

.section_summary__work {
  color: white;
  font-size: 12px;
  margin: 0px;
  text-align: center;
  width: 70%;
}

.a_propos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo_julie {
  width: 433px;
}

.paragraphe_a_propos {
  color: #0000ff;
  font-size: 12px;
}

.projet_picto {
  width: 137px;
}

.animation_grand_bain2 {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 623px;
  background-color: #000000;
}

.picture_animated1 {
  position: absolute;
  width: 328px;
  padding-left: 34px;
}

.picture_animated2 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -142px;
  text-align: center;
  z-index: 1;
  position: relative;
  width: 243px;
}

.picture_animated3 {
  position: absolute;
  width: 410px;
  bottom: -70px;
  right: -131px;
}

.picture_animated4 {
  position: absolute;
  width: 295px;
  bottom: -22px;
  right: -12px;
}

.picture_frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.picture_frame__doublepics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.picture_frame__dark_doublepics {
  overflow: hidden;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.double_pictures_frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.frame_for_landscape {
  position: relative;
}

.animation_landscape {
  position: absolute;
  z-index: 2;
  bottom: -128px;
  left: 0px;
  width: 100%;
}

.animation-frame {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 885px;
}

.animation-frame-2 {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.animation-frame-3 {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.project_picture_absolute {
  width: 310.99px;
  height: 465.573px;
  padding-left: 40px;
}

.project_picture_absolute2 {
  position: absolute;
  top: 36px;
  right: 0px;
  width: 677px;
  z-index: 3;
}

.project_picture_absolute3 {
  position: absolute;
  top: 237px;
  right: -517px;
  width: 2000px;
  z-index: 1;
}

.project_picture_absolute4 {
  position: absolute;
  top: 553px;
  right: 308px;
  width: 129px;
  z-index: 1;
}

.project_picture_absolute5 {
  position: absolute;
  top: 440px;
  right: 0px;
  width: 500px;
  z-index: 3;
}

.project_picture_absolute6 {
  position: absolute;
  top: -291px;
  right: 65px;
  width: 1033px;
  z-index: 3;
}

.project_picture_absolute7 {
  position: absolute;
  top: -650px;
  right: 294px;
  width: 134px;
  z-index: 1;
}

.project_picture_absolute8 {
  position: absolute;
  top: 249px;
  right: -60px;
  width: 606px;
  z-index: 0;
}

.project_picture_absolute9 {
  position: absolute;
  bottom: -22px;
  left: 0px;
  width: 332px;
  z-index: 2;
}

.swim_frame {
  position: absolute;
  height: 465.573px;
}

.photograph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.photograph__text {
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: end;
  padding-right: 20px;
}

.photograph-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.photograph-left__text {
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: start;
  padding-left: 20px;
}

.frame-terre-hugo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px;
}

.frame-terre-hugo__pic {
  width: 600px;
}

.frame-terre-hugo__text {
  padding-left: 20px;
  font-size: 10px;
  margin: 0px;
}

.image_footer {
  width: 95%;
  padding-bottom: 20px;
  padding-top: 20px;
}
/*# sourceMappingURL=style.css.map */